<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Online House Assistant Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container" >
    <h1>Online House Assistant Management</h1>
    <!--    hr indicates the thematic change of topic-->
    <hr>
    <h2> Save Transaction </h2>

    <!--    @{/saveTransaction} is a save request-->
    <form action="#" th:action="@{/saveNewTransaction}" th:object="${transaction}" method="POST">
        <!--*{} refers to the attribute of the Agent Object, purpose is to access the properties of the object-->
        <table class="table table-striped table-responsive-md" >

            <tr>
                <td>Transaction Code: </td>
                <td><input type="text" th:f.ield="*{transactionCode}"
                           class="form-control mb-4 col-4"></td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td><input type="text" th:field="*{amount}"
                           class="form-control mb-4 col-4"></td>
            </tr>
            <tr>
                <td>Date: </td>
                <td><input type="text" th:field="*{date}"
                           class="form-control mb-4 col-4"></td>
            </tr>
            <tr>
                <td>Purpose: </td>
                <td><input type="text" th:field="*{purpose}"
                           class="form-control mb-4 col-4"></td>
            </tr>

        </table>

        <button type="submit" class="btn btn-info col-2"> Save</button>

    </form>
</div>

</body>
</html>